<h1>Call Function in Angular on button click.</h1>
<button (click)="getName(myName)">Get My name</button>
<button (click)="myEvent('This is click event.')">Click Me</button>
<br> <br>
<input type="text" #box (keyup)="myEvent(box.value)"/>
<br> <br>
<input type="text" #box (blur)="myEvent('blur event')"/>

<h1 
  (mouseover)="myEvent('mouseover')"
  style="background-color: skyblue;">
  mouse event
</h1>

<input type="text" #box1/>

<button (click)="getValue(box1.value)">Get Value</button>

<h2>{{currentVal}}</h2>
<br><br>

<input type="text" #box3 [disabled]=diabledBox [value]="myName"/>
<br><br>
<input type="text" #box4 disabled={{diabledBox}} value={{myName}}/>
<br><br>
<button (click)="enableBox()">Enable Text Box</button>

