<app-header></app-header>
<h2 [ngClass]="'separator'">Call Function in Angular on button click.</h2>
<button (click)="getName(myName)">Get My name</button>
<button (click)="myEvent('This is click event.')">Click Me</button>
<br> <br>
<input type="text" #box (keyup)="myEvent(box.value)"/>
<br> <br>
<input type="text" #box (blur)="myEvent('blur event')"/>

<h2 [ngClass]="'separator'">Mouse Event in Angular</h2>
<h1 
  (mouseover)="myEvent('mouseover')"
  style="background-color: rgb(139, 216, 247);">
  Do a hover.
</h1>

<h2 [ngClass]="'separator'">Get Value of text on button click in Angular</h2>
<input type="text" #box1/>
<button (click)="getValue(box1.value)">Get Value</button>

<h2>{{currentVal}}</h2>
<br><br>

<h2 [ngClass]="'separator'">Enable/Disable in Angular</h2>
<input type="text" #box3 [disabled]=diabledBox [value]="myName"/>
<br><br>
<input type="text" #box4 disabled={{diabledBox}} value={{myName}}/>
<br><br>
<button (click)="enableBox()">Enable Text Box</button>
<br><br>

<h2 [ngClass]="'separator'">If Else in Angular</h2>
<h1 *ngIf="show else elseBlock">
  if Block
</h1>
<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template>
<br> 

<h2 [ngClass]="'separator'">Switch case in Angular</h2>
<div [ngSwitch]="color">
  <h2 style="color: red;" *ngSwitchCase="'red'">
    Red Color.
  </h2>
  <h2 style="color: green;" *ngSwitchCase="'green'">
    green Color.
  </h2>
  <h2 style="color: blue;" *ngSwitchCase="'blue'">
    blue Color.
  </h2>
  <h2 style="color: yellow;" *ngSwitchCase="'yellow'">
    yellow Color.
  </h2>
  <h2 style="color: grey;" *ngSwitchDefault>
    Default Color.
  </h2>
</div>
<br>

<h2 [ngClass]="'separator'">For loop in Angular</h2>
<table border="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
</table>

<br>
<h2 [ngClass]="'separator'">Simple Form in Angular</h2>
<form #simpleForm="ngForm" (ngSubmit)="getFormValues(simpleForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter user name">
  <br><br>
  <input type="text" ngModel name="age" placeholder="Enter user age">
  <br><br>
  <input type="text" ngModel name="address" placeholder="Enter user address">
  <br><br>
  <button>Get User Values</button>
</form>

<br>
<h2 [ngClass]="'separator'">Style binding in Angular</h2>
<h3 style="color: rebeccapurple;">Heading 1</h3>
<h3 [style.color]="'grey'">Heading 2</h3>
<h3 [style.color]="color">Heading 3</h3>
<h3 [style.color]="err?'red':'green'">Conditional Style</h3>
<button (click)="updateColor()">Update Color</button>

<br>
<h2 [ngClass]="'separator'">Add bootstrap in Angular</h2>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<br>
<h2 [ngClass]="'separator'">Add material in Angular</h2>
<button mat-button color="accent">Angular mat button</button>

<br>
<h2 [ngClass]="'separator'">Pass data from parent to child in Angular</h2>
<app-user [hero]="parentData"></app-user>

<br>
<h2 [ngClass]="'separator'">Reusable component in Angular</h2>
<div>
  <a [attr.href]="video21Url" class="lm">Check the video </a>
  </div>

<br>
<h2 [ngClass]="'separator'">Send data from child to parent in Angular</h2>
<div>
<a [attr.href]="video22Url" class="lm">Check the video </a>
</div>

<br>
<h2 [ngClass]="'separator'">Pipe in Angular</h2>
<div>
<a [attr.href]="video23Url" class="lm">Check the video </a>
</div>

<br>
<h2 [ngClass]="'separator'">Routing in Angular</h2>
<div>
<a [attr.href]="video24Url" class="lm">Check the video </a>
</div>

<app-footer></app-footer>